<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Charge Form</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/charge.css') }}"/>

</head>
<body>



<div class="container">

    <form action="/charge" method="post">
        <div class="inputBox">
            <label for="auth_ID"></label>
            <span>Authentication ID number</span>
            <input type="auth_ID" id="auth_id" name="auth_id" class="auth-number-input" placeholder="Auth ID Number">
        </div>
        <div class="inputBox">
            <label for="amount"></label>
            <span>Charge Amount</span>
            <input type="amount" id="amount" name="amount" class="number-input" placeholder="e.g. 1000">
        </div>
        <input type="submit" value="submit" class="submit-btn" onclick="self">
    </form>
  <div class="payment">


</body>
</html>