<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Payment credit card</title>
</head>
<style>
  label {
    float: left;
    width: 10%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<body>
    <div>
      <h2>Pay using Credit Card</h2>
      <form action="/pay" method="post">
        <label for="number">Credit Card Number: </label>
        <input type="number" id="number" name="number"><br>
        <label for="exp_dateM">Exp Date Month: </label>
        <input type="exp_dateM" id="exp_dateM" name="exp_dateM"><br>
        <label for="exp_dateY">Exp Date Year: </label>
        <input type="exp_dateY" id="exp_dateY" name="exp_dateY"><br>
        <label for="amount">Amount: </label>
        <input type="amount" id="amount" name="amount"><br>
        <label for="CVN">CVN: </label>
        <input type="CVN" id="CVN" name="CVN"><br>
          <form action="/pay">
              <button type="submit">Pay Now</button>
          </form>
          <form action="/refund">
              <button type="submit">Refund</button>
          </form>

      </form>
    </div>
</body>
</html>