<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Payment credit card</title>
</head>
<style>
  label {
    float: left;
    width: 10%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<body>
    <div>
      <h2>Pay using Credit Card</h2>
      <form action="/pay" method="post">
        <label for="auth_id">Authentication ID: </label>
        <input type="auth_id" id="auth_id" name="auth_id"><br>
        <label for="amount">Amount: </label>
        <input type="amount" id="amount" name="amount"><br>
        <label for="CVN">CVN: </label>
        <input type="CVN" id="CVN" name="CVN"><br>
          <form action="/pay">
              <button type="submit">Pay Now</button>
          </form>
<!--          <form action="/refund">-->
<!--              <button type="submit">Refund</button>-->
<!--          </form>-->

      </form>
    </div>
    <div>
        {{ data }}
    </div>
</body>
</html>