<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Refund Form</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/design.css') }}"/>

</head>
<body>



<div class="container">

    <form action="/refund", method="post">
        <div class="inputBox">
            <label for="refund_ID"></label>
            <span>Credit Card ID number</span>
            <input type="refund_ID" id="refund_ID" name="refund_ID" class="credit-charge-ID-input" placeholder="Credit Charge ID Number">
        </div>
        <div class="inputBox">
            <label for="ref_amount"></label>
            <span>Refund Amount</span>
            <input type="ref_amount" id="ref_amount" name="ref_amount" class="number-input" placeholder="e.g. 1000">
        </div>
        <input type="submit" value="submit" class="submit-btn" ">
    </form>
  <div class="payment">


</body>
</html>